<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Gleam uses your camera to capture a photo of your smile for whitening analysis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gleam lets you pick a photo from your library to analyze your smile whitening.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Gleam may save your scan photos to your photo library.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.752071300530-8ob63kf7b7tqf2eh32pvnca9e49bfps6</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
